@import url(normalize.min.css);
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
}

/*===header===*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: #FFF;
  z-index: 2;
}

.header-container {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}
.logo__image {
  width: 19px;
  height: 19px;
  margin-right: 3px;
}
.logo__name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #555248;
  letter-spacing: 0.14em;
  align-self: center;
  margin-top: 2px;
}

.site-nav {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.site-nav__item {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
  text-decoration: none;
  flex: 1 1 30%;
  max-width: 100px;
  margin: 0 5px;
}

.burger {
  width: 30px;
  height: 20px;
  border: 1px solid rgba(95, 92, 81, 0.7725490196);
  border-radius: 5px;
}
.burger div {
  width: 20px;
  border-bottom: 1px solid rgba(95, 92, 81, 0.7725490196);
  margin: 15% auto;
}

@media screen and (max-width: 600px) {
  .site-nav {
    display: none;
  }
  .burger:active ~ .site-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(95, 92, 81, 0.8784313725);
    position: absolute;
    top: 57px;
    border-radius: 5px;
    left: 33.333%;
    width: 33.3333%;
    padding: 10px 0;
  }
  .burger:active ~ .site-nav a {
    color: white;
    margin: 10px 0;
  }
}
@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }
}
.action-panel {
  position: relative;
  min-width: 107px;
}
.action-panel__like-count {
  position: absolute;
  border-radius: 50%;
  background-color: #E6C8B4;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 14px;
  color: #1B1A17;
  text-align: center;
  width: 13px;
  height: 13px;
  left: 57px;
  top: -4px;
}
.action-panel__search {
  width: 16px;
}
.action-panel__likes {
  width: 19px;
  margin-left: 23px;
}
.action-panel__basket {
  width: 18px;
  margin-left: 23px;
}

/*===main===*/
.content {
  flex: 1 1 auto;
  padding: 77px 0 0 0;
}

.collection-preview {
  background-image: #FDFDFB;
}

.collection-preview__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.watch-info {
  color: #1B1A17;
  position: relative;
}
.watch-info__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 3.7vw;
  line-height: 4.2vw;
  color: #1B1A17;
}
.watch-info__title:before {
  position: absolute;
  top: 10%;
  left: -18%;
  content: " ";
  max-width: 50px;
  width: 15%;
  border-top: 0.5px solid #8B8371;
}
.watch-info__subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.2vw;
  line-height: 2.6vw;
  color: #1B1A17;
  margin: 1.4vw 0 0 0;
}
.watch-info__text {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 1.1vw;
  line-height: 1.8vw;
  color: rgba(27, 26, 23, 0.82);
  margin: 2.4vw 0;
}

.big-button {
  width: 54%;
  padding: 6.5% 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1vw;
  line-height: 14px;
  color: #FFF;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.black {
  background: #444240;
}

.black:active {
  background: rgba(68, 66, 64, 0.8);
}

.big-watch {
  position: relative;
  width: 43%;
}
.big-watch__image {
  width: 100%;
  padding: 0 0 10px 0;
}
.big-watch:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 118%;
  background-image: linear-gradient(#FFF, #EAE3D4);
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  z-index: -1;
  top: -10%;
  left: -40%;
}
.big-watch__pointer {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 22px;
  color: #1B1A17;
}

.left {
  position: absolute;
  top: 18%;
  left: -12%;
}

.left:after {
  position: absolute;
  top: 40%;
  left: 120%;
  content: " ";
  width: 60%;
  max-width: 50px;
  border-top: 0.5px solid #8B8371;
}

.right {
  position: absolute;
  bottom: 17%;
  right: -20%;
  margin: 0 40px 0 0;
}

.right:before {
  position: absolute;
  top: 40%;
  right: 110%;
  content: " ";
  width: 36%;
  max-width: 50px;
  border-top: 0.5px solid #8B8371;
  display: block;
}

@media screen and (max-width: 768px) {
  .collection-preview__container {
    flex-direction: column-reverse;
  }
  .watch-info {
    background: #FFF;
    padding: 20px 70px;
    margin: -30px 0 0 0;
    width: 215px;
  }
  .watch-info__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #1B1A17;
  }
  .watch-info__title:before {
    position: absolute;
    top: 35px;
    left: 15px;
    content: " ";
    width: 35px;
    border-top: 0.5px solid #8B8371;
  }
  .watch-info__subtitle {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1B1A17;
    margin: 10px 0 0 0;
  }
  .watch-info__text {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
    margin: 15px 0;
  }
}
.popular-models {
  margin: -30px 0 0 0;
  padding: 80px 0 85px 0;
  background: #FFF;
}

.center-title {
  text-align: center;
}

.alignment {
  text-align: right;
  margin: 0 0 25.5px 0;
}
.alignment a {
  display: inline-block;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.9vw;
  color: #444240;
  text-decoration: none;
  border-bottom: 1px solid #C4C0B6;
  padding: 0 0 0.9% 0;
}

@media screen and (max-width: 768px) {
  .alignment a {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #444240;
  }
}
.models-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.watch-block {
  background-color: #FDFDFB;
  padding: 40px 30px;
  z-index: 1;
  margin: 5px 0;
}
.watch-block .watch-block__name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(27, 26, 23, 0.82);
  letter-spacing: 0.03em;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.watch-block .watch-block__price {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  margin: 0 0 0 20px;
}
.watch-block .watch-block__image {
  border-radius: 50%;
  background: #FDFDFB;
  position: relative;
  width: 313px;
  height: 313px;
  text-align: center;
  margin: 5px;
}
.watch-block .watch-block__image img {
  width: 313px;
}
.watch-block .watch-block__image:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 50%;
  background: linear-gradient(-90deg, #E2D0C4, rgba(0, 0, 0, 0));
  z-index: -1;
}
.watch-block .watch-block__more {
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  margin: 0 0 0 60px;
}
.watch-block .watch-block__more:before {
  position: absolute;
  top: 60%;
  left: -48px;
  content: "";
  padding: 0 15px;
  border-top: 0.5px solid #8B8371;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.4vw;
  line-height: 2.8vw;
  color: #1B1A17;
}

.text {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.9vw;
  color: #444240;
  margin: 38px 0 45px 0;
  max-width: 377px;
}

@media screen and (max-width: 768px) {
  .popular-models {
    margin: -30px 0 0 0;
    padding: 50px 0 50px 0;
  }
}
.quality {
  background-image: linear-gradient(90deg, #F7F5EF 35%, #FDFDFB 35%);
  position: relative;
  z-index: -2;
}

.small-circle {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  border: 1px solid #D4B098;
  position: absolute;
  top: -150px;
  right: -190px;
}

.big-circle {
  width: 744px;
  height: 744px;
  border-radius: 50%;
  border: 1px solid #D4B098;
  position: absolute;
  top: -5px;
  right: -580px;
}

.quality-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 50px 0 0 0;
}
.quality-row__image {
  margin: 0 0 0 0;
  min-width: 370px;
  flex: 0 1 521px;
  position: relative;
  z-index: 1;
}
.quality-row__image img {
  width: 100%;
}
.quality-row__annotation {
  min-width: 360px;
  flex-basis: 32.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20px;
  position: relative;
  margin: -50px 0 0 0;
}

.cream {
  width: 57%;
  background: #D4B098;
}

.cream:active {
  background: #FFF;
}

.switch {
  text-align: right;
  padding: 0 14.5% 0 0;
  margin: 17px 0;
}
.switch button {
  border: none;
  background: none;
}
.switch button div {
  border-right: 0.5px solid #1B1A17;
  border-top: 0.5px solid #1B1A17;
  width: 6px;
  height: 6px;
  margin: 0 0 2px 0;
}

.prev {
  transform: rotate(225deg);
}

.next {
  transform: rotate(45deg);
}

.number {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 26, 23, 0.82);
  display: inline-block;
  margin: 0 20px;
}

.news {
  background: #FFF;
}

.news-row {
  display: flex;
  padding: 85px 0;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.news-row__text {
  margin: 140px 0 0 0;
}
.news-row__text .text {
  margin: 40px 0 119px 0;
}
.news-row__picture {
  display: flex;
}
.news-row__picture img {
  width: 377px;
  height: 460px;
}

.social img {
  margin: 0 18px 0 0;
}

.columns-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 0 0;
}
.columns-picture img {
  width: 242px;
  height: 225px;
}

@media screen and (max-width: 768px) {
  .title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #1B1A17;
  }
  .text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #444240;
    margin: 38px 0 45px 0;
    max-width: 377px;
  }
  .big-button {
    width: 115px;
    padding: 15px 0;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    color: #FFF;
  }
}
/*===footer===*/
.footer {
  background-color: #444240;
}

.footer-container {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacts {
  margin: -60px 5px 0;
}

.white-logo {
  margin: 0 0 23px 0;
}

.white-logo__image {
  width: 25px;
}

.white-logo__name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFF;
  letter-spacing: 0.14em;
}

.phone {
  margin-top: 23px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 0 15px 0;
}

.email {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}

.info-block {
  margin: 5px 5px;
  align-self: flex-start;
}
.info-block__title {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0 0 33px 0;
}
.info-block__item {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 0 15px 0;
}
.info-block__item:last-child {
  margin: 0;
}